# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Chrome driver
chromedriver.exe

# Output files
output.txt

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db